# My develop directory
workspace/
venv/
docs/
test/

# Data Volume
data/

# My configurations:
db.ini
deploy_key_rsa

# Pycharm
.idea

# Mac OS
.DS_Store

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
