{# Macro for creating navigation links #}
{% macro render_navigation(pagination, endpoint) %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        {% for page in pagination.iter_pages() %}
        <!--pagination.iter_pages()返回当前的可用页面列表，而不是全部pages，-->
        <!--    默认参数: left_edge=2, left_current=2, right_current=5, right_edge=2 -->
        {% if page %}
        <!--如果不是当前页，正常显示链接，否则显示数字但链接不可用，，而如果页面列表的当前值为None，则显示... -->
        {% if page != pagination.page %}
        <li class="page-item"><a class="page-link" onclick="gotoPage('{{collection_name}}', {{page}})">{{page}}</a></li>
        {% else %}
        <li class="page-item active"><a class="page-link">{{ page }}</a></li>
        {% endif %}
        {% else %}
        <li class="page-item disabled"><a class="page-link">......</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endmacro %}

{% block body %}

<div class="List of bid notice table-responsive-sm ">
    <h4 class="text-primary">{{title}} 列表</h4>
    <table class="table table-hover text-center text-nowrap table-bordered">
        <thead class="table-primary">
        <tr>
            <th>
                项目名称
            </th>
            <th>
                公告类型
            </th>
            <th>
                招标单位
            </th>
            <th>
                发布日期
            </th>
            <th>
                爬取时间
            </th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos_page.items %}
        {% if todo.reminded_time is none %}
        <tr onclick="selectResult('{{todo.id}}')" class="text-info small">
            {% else %}
        <tr onclick="selectResult('{{todo.id}}') " class="small">
            {% endif %}
            <td>
                {{todo.title}}
            </td>
            <td>
                {{todo.notice_type}}
            </td>
            <td>
                {{todo.source_ch}}
            </td>

            <td>
                {{todo.published_date.strftime('%Y-%m-%d')}}
            </td>
            <td>
                {{todo.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="navigation">
    <h6 class="border-left small text-muted"> 总记录数: {{todos_page.total}}</h6>
    {{ render_navigation(todos_page, 'pagination') }}
</div>

<script>
    function selectResult(id) {
        //location.hostname 返回 web 主机的域名
        //location.pathname 返回当前页面的路径和文件名
        //location.port 返回 web 主机的端口 （80 或 443）
        //location.protocol 返回所使用的 web 协议（http:// 或 https://）

        var uri = window.location.protocol + "//" + window.location.hostname
            + ":" + window.location.port + "/context/"  + id;
        // var uri = "https://b2b.10086.cn/b2b/main/viewNoticeContent.html?noticeBean.id=" + id;
        // alert(uri)

        window.open(uri);
    }

    function gotoPage(collection, pageNo) {
        document.getElementsByName('currentPage')[0].value = pageNo;
        doSearchByPage(collection, pageNo);
    }
</script>

{% endblock %}
